/* styles.css - Estilos para la cabecera */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header_cabecera {
    background-color: #f6f6ae;
    color: white;
    padding: 15px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añadir sombra difusa */
    position: relative; /* Mantener el contexto para el logo */
}

.container_cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo_cabecera {
    position: absolute; /* Cambiado a absolute */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_cabecera img {
    height: 50px; /* Tamaño reducido */
    display: block;
}

.search-form_cabecera {
    display: flex;
}

.search-input_cabecera {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button_cabecera {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button_cabecera:hover {
    background-color: #0056b3;
}

.boton_ayuda_cabecera {
    padding: 8px 12px;
    padding-left: 0px;
    text-decoration: none;
    border-radius: 5px;
}

.boton_ayuda_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}
.left-icons,
.right-icons {
    display: flex;
    align-items: center;
}

.lupa_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}