/*Estilo General de MarketChef*/

/*Agrupa todo el contenido de la plantilla; cabecera, contenidoPrincipal, pie*/
.contenido_plantilla{ 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh; /* Permite ajustar todas las páginas al alto de la pantalla*/
}


/* #region CABECERA */
/*Contenedor de la cabecera en plantilla*/
.plantilla_cabecera{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


.container_cabecera.Admin {
    background-color: #ff6d6d;
}

.container_cabecera.Chef {
    background-color: #00ffbf;
}

.container_cabecera.User {
    background-color: #f6f6ae;
}

/*Contiene los primeros tres iconos; Info, Buscar, Admin*/
.container_infosearch{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

/*Contiene el titulo de la cabecera con el logo*/
.container_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;

}

/*Contiene los ultimos tres iconos; EstrellaMichelin, Carrito, Usuario*/
.container_users{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

/*Imagen del logo*/
.logo_cabecera img {
    height: 50px; /* Tamaño reducido */
    display: block;
}

/*Imagen del boton de info*/
.boton_ayuda_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}

/*Imagen del boton de buscar*/
.lupa_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}

/*Desplegable del contenido administrativo - NO IMPLEMENTADO (parte de Nicolas)*/
.admin_desplegable_cabecera img {
    height: 30px;
    display: block;
}

/*Imagen del boton de Estrella Michelin*/
.estrella_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}

/*Imagen del boton de carrito - NO IMPLEMENTADO EN ESTA ENTREGA*/
.carrito_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}

/*Desplegable de usuario; Mi perfil, Cerrar Sesión, etc*/
.usuario_desplegable_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}

/* Estilo para los enlaces dentro del menú de usuario */
.menu_usuario a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_usuario a:hover {
    background-color: #f6f6ae;
}

/* Estilo para los enlaces dentro del menú de admin*/
.menu_admin a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_admin a:hover {
    background-color: #f6f6ae;
}

/* #endregion */

/* #region CONTENIDOPRINCIPAL */

.contenido_principal {
    display: flex;
    flex-direction: column;
    flex:1;
}

/* #region INDEX */
/*Video que aparece en el index*/
video#videoPrincipal{
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 40vh; 
    object-fit: cover; /* Recorta y ajusta la imagen sin deformarla */
    object-position: center; /* Centra la imagen */
    display: block; /* Evita espacios extra */
}

/* Contenedor de la libreria Swiper */
.swiper-container-wrapper {
    position: relative;
    align-items: center;
    width: 90%;
    margin: auto;
    margin-bottom: 5vh;
}

/* Contiene el carrusel que muestra las recetas */
.swiper-container {
    width: 80%;
    margin: auto;
    overflow: hidden; /* Oculta los elementos que no deben mostrarse */
    flex-wrap: wrap;
    
}
 /*Añade una separacion de los controles (puntos bajo el carrusel)*/
.swiper-controls {
    padding-top: 20px;
}

/* #endregion */

/* #region FORMULARIOS */

/* #region Formulario COMUN */
/*Este tipo de formularios es el mas comun en la pagina. Se usa en Contacto, Login,
Register... */
/*Estilo comun para formularios*/
form {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Estilo comun para contendores de input en formularios*/
.input-container {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
}

/*Estilo comun para formularios*/
input, textarea, select {
    width: 100%;
    border: none;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

/*Definicion de textarea */
textarea {
    min-height: 100px; /*Debe ser de al menos esos pixeles, ver por ejemplo la pagina de Contacto*/
    resize: none; /*Cuestion estetica*/
}

/*Estilo comun para botones minimalista*/
.send-button {
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

/*Imagen de previsualizacion; comun para crearReceta y registerForm*/
#previewImage{
    scale: 1;
    max-width: 200px;
    max-height: 200px;
}

.passwords-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* #endregion */

/* #region Formulario BUSCAR */
/*Estilo de formulario especifico para el Buscar */
form#buscarFormulario {
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 0 0;
    gap: 10px;
    flex-wrap: wrap;
}


/* Muestra las recetas resultantes de aplicar la busqueda */
#resultados_buscar_div {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin : 20px;
    flex: wrap;
}

/* Ocultar la barra de desplazamiento */
.sidebar_buscar::-webkit-scrollbar {
    display: none;
}

/* Barra negra separadora */
hr {
    border-top: 1px solid black;
    margin: 1vh 0;
}

.sidebar_buscar label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

/* Inputs de texto y selects */
.sidebar_buscar input[type="text"],
.sidebar_buscar select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

/* Sliders */
.sidebar_buscar input[type="range"] {
    width: 100%;
    margin-top: 5px;
    
}

/* Valor numérico de los sliders */
.sidebar_buscar label span {
    font-weight: bold;
    color: #555;
}

/* #endregion */

/* #endregion */

/* #region INGREDIENTES */
/* Contenedor de ingredientes y pasos */
/*Muy similar a .container, pero estos ids se usan especificamente para su javaScript*/
#ingredientContainer, #stepsContainer, #tagsContainer {
    background: #eef2f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Centrando los botones de ingredientes */
.ingredientes-container {
    text-align: center;
}

/* Estilo de las cajas de ingredientes con cantidad magnitud... NECESARIO */
.ingrediente-item {
    display: grid;
    grid-template-columns: auto 1fr 2fr 1fr; /* Checkbox - Nombre - Cantidad - Magnitud */
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
}

/*Seleccionable*/
.ingrediente-check {
    width: 20px;
    height: 20px;
}

/*Estilos unicos para mostrar el apartado de ingredientes*/
.ingrediente-label {
    white-space: nowrap; /* Evita que el nombre del ingrediente se divida en varias líneas */
}
.ingrediente-cantidad {
    height: 35px; /* Mantiene altura uniforme */
    width: 100%; /* Se expande dentro del grid */
    padding: 5px;
    font-size: 16px;
}
.ingrediente-magnitud {
    height: 35px; /* Igual altura que el input de cantidad */
    width: 100%; /* Se expande dentro del grid */
    font-size: 16px;
    padding: 5px;
}

/* Ajusta el tamaño de la caja de texto para ingredientes NECESARIO */
#ingredientContainer {
    max-height: 400px; /* Ajusta según el tamaño deseado */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Opcional, solo para visualizar los límites */
    padding: 10px;
    background: #fff;
}
/* #endregion */

/* #region ETIQUETAS */

/* Estilo para las etiquetas de las recetas NECESARIO*/
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
/*Estilos unicos para mostrar las etiquetas*/
/*Sus ids son empleados en javaScript*/
.tag {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid blue;
    color: blue;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.tag:hover {
    background-color: blue;
    color: white;
}


.tag.selected {
    background-color: blue;
    color: white;
    font-weight: bold;
}
/* #endregion */

/* #region RECETAS */

/* Contenedor de recetas */
/* A diferencia del .container, este muestra las recetas y las ajusta
a la pantalla (wrap). Tampoco tiene un borde ni sombra; ver Buscar como ejemplo */
.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

/* Delimita el espacio que ocupara la imagen de la receta que contiene */
/* Tamaño fijo establecido en pixeles, para que el tamaño de la pantalla no afecte
al tamaño de la imagen, sino que se modifique el numero de recetas que se muestran por fila */
.receta-card {
    width: 200px;
    text-align: center;
}


/* Estilo de la imagen que se muestra */
.receta-imagen {
    width: 100%; /* Para que ocupe todo el ancho de la tarjeta */
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Animacion cuando se pasa el cursor por encima de la imagen */
.receta-imagen:hover {
    transform: scale(1.05);
}

/* <p> modificado para mostrar el titulo de las recetas */
/* Se usan valore fijos para que sea en concordancia con el tamaño de la imagen,
que tambien es fija */
.receta-titulo {
    font-size: 16px;
    font-weight: bold;
}

/* Estilo mostrar receta */
.receta-detalle {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.receta-imagen-detalle {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

.step-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.step-item textarea {
    width: auto;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

/* #endregion */

/* #region SOBRE NOSOTROS*/

.sobre_nosotros_equipo, .sobre_nosotros_enlaces, .sobre_nosotros_imagen, .sobre_nosotros_info{
    flex: 1; /* Los hijos se expanden para ocupar el espacio disponible */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    padding: 20px;
    justify-content: space-between;
}

.sobre_nosotros_enlaces{
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    min-width: fit-content;
}

.sobre_nosotros_enlaces a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}   

/* #endregion */

/* #region COMUN */
/*Principal*/
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
}

/*Elimina el visual de la barra de scroll*/
body::-webkit-scrollbar {
    display: none;
}

/*Encabezados h1*/
h1 {
    font-size: 2em; /*Unidad relativa; 200% del tamaño de fuente del padre*/
    margin-top: 20px;
}

/*Encabezados h2*/
h2 {
    font-size: 1,3em;
}

/*Estilo de parrafo comun*/
p {
    color: #666;
}

/* Candado */
.candado{
    scale: 1;
    font-size: 4em;
}

/*Contenedor comun; tiene una sombra*/
.container {
    margin: 25px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 70%; /* Util para paginas como: Politica de privacidad, Terminos y condiciones, o Sobre Nosotros*/
}

/* #endregion

/* #endregion */

/* #region CARRITO */


.carrito-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    flex-wrap: wrap;
    gap: 10px;
}

.carrito-imagen {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.carrito-info {
    flex-grow: 1;
}

.carrito-eliminar-boton {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.carrito-eliminar-boton:hover {
    background-color: #c0392b;
}

/* #endregion */

/* #region PAGOS */
.aviso {
    padding: 20px;
    margin: 40px auto;
    max-width: 600px;
    font-family: sans-serif;
    text-align: center;
    border-left: 6px solid;
    border-radius: 5px;
}

.aviso.exito {
    background-color: #ddffdd;
    border-color: #4CAF50;
    color: #2e7d32;
}

.aviso.error {
    background-color: #ffdddd;
    border-color: #f44336;
    color: #a94442;
}

.aviso h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.aviso p {
    font-size: 1.1em;
    color: #333;
}

/* #endregion */ 

/* #region ERRORES */

.error{
    color: red; 
    text-align: center;
    padding-top: 2%;
}

/* #endregion */

/* #endregion */

/* #region PIE */

/*Contenedor del pie en plantilla*/
.plantilla_pie{
    clear: both;
	color: white;
	text-align: center;
}
/*Contenedor principal del pie*/
footer {
    padding: 10px 0;
	background-color: #222;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Contenedor de los links; Sobre nosotros, Contacto, etc*/
.footer_links{
    display: flex;
    flex-direction: row;
}

/*Estilo del texto de los links*/
.footer_links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

/*Efecto subrayado al pasar el cursor*/
.footer_links a:hover {
    text-decoration: underline;
}

/*Texto de copyright*/
p#copy {
    font-size: 12px;
}

/* #endregion */

