.container_cabecera {
    background-color: #f6f6ae;
    /*position: fixed;*/ /*Mantiene fija la cabecera, descomentar para que se vea siempre */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añadir sombra difusa */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center; /* Hace que los hijos tengan la misma altura */
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}

.sobre_nosotros_imagen{
    max-width: 20%;
    min-width: fit-content;
}

.sobre_nosotros_info{
    flex-direction: column;
}


.sidebar_buscar {
    width: 100%;  /* Se amplia al 100% de la anchura, dada una pantalla de movil */
    background: #f6f6ae;
    padding: 25px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column; /* Organiza su contenido en columna */

}