
/* #region CABECERA */

/*Contenedor principal de la cabecera. Define color, sombras, tamaño, etc */
.container_cabecera {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añadir sombra difusa */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
    flex-wrap: wrap;
}


/* Estilos del menú desplegable de usuario */
.menu_usuario {
    position: absolute;
    right: 2%;
    top: 10.5%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/*Estilo para el despleagable del admin*/
.menu_admin {
    position:absolute;
    right: 2%;
    top: 3%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/* #endregion */

/* #region CONTENIDOPRINCIPAL */

/* #region COMUN */
section{
    display: flex;
    flex-direction: column;
    align-items: center; /* Hace que los hijos tengan la misma altura */
    justify-content: center;
    margin: 0 auto;
    overflow: hidden;
}
/* #endregion */

/* #region SOBRE NOSOTROS */

.sobre_nosotros_imagen{
    max-width: 20%;
    min-width: fit-content;
}

.sobre_nosotros_info{
    flex-direction: column;
}

/* #endregion */

/* #region BUSCAR */
.sidebar_buscar {
    width: 100%;  /* Se amplia al 100% de la anchura, dada una pantalla de movil */
    padding: 25px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column; /* Organiza su contenido en columna */

}

/* #endregion */

/* #endregion */

/* #region PIE */

/* #endregion*/