/*Estilo General de MarketChef*/

/* #region CABECERA */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header_cabecera {
    background-color: #f6f6ae;
    color: white;
    padding: 15px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Añadir sombra difusa */
    min-width: 100%;
    top:0%;
    position: fixed; /* Mantener el contexto para el logo */
    min-height: 35px; /* Altura mínima para la cabecera */
    z-index: 1000;
    
}

.container_cabecera {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    /* max-width: 100%; */
    /* margin: 0 auto;
    padding: 0 0px; */
}

.logo_cabecera {
    position: absolute; /* Cambiado a absolute */
    left: 50%; /* Centrado horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
    top: 15%; /* Centrado verticalmente */
    display: flex;
    align-items: center;

}

.logo_cabecera img {
    height: 50px; /* Tamaño reducido */
    display: block;
}

.search-form_cabecera {
    display: flex;
}

.search-input_cabecera {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button_cabecera {
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-button_cabecera:hover {
    background-color: #0056b3;
}

.boton_ayuda_cabecera {
    position: absolute;
    left: 2%;
    top: 50%;
    display:flex;
    transform: translateY(-50%);
    align-items: center;
    gap: 15px;
}

.boton_ayuda_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}

.lupa_cabecera {
    position: absolute;
    left: 6%;
    top: 50%;
    display:flex;
    transform: translateY(-50%);
    align-items: center;
    gap: 15px;
}

.lupa_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}

.admin_desplegable_cabecera {
    position: absolute; /* Para moverlo libremente */
    right: 15%; /* Ajusta según necesites */
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.admin_desplegable_cabecera img {
    height: 30px;
    display: block;
}


.estrella_cabecera {
    position: absolute;
    right: 11%;
    top: 50%;
    display:flex;
    transform: translateY(-50%);
    align-items: center;
    gap: 15px;
}

.estrella_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}



.carrito_cabecera {
    position: absolute;
    right: 7%;
    top: 50%;
    display:flex;
    transform: translateY(-50%);
    align-items: center;
    gap: 15px;
}

.carrito_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}

.usuario_desplegable_cabecera {
    position: absolute;
    right: 3%;
    top: 50%;
    display:flex;
    transform: translateY(-50%);
    align-items: center;
    gap: 15px;
}

.usuario_desplegable_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}

.market {
    position: absolute;
    left: 40%;
    color:black;
    font-size: 32px;
    top: -10%
}

.chef {
    position: absolute;
    left: 52.5%;
    color:black;
    font-size: 32px;
    top:-10%;
}


/* Estilos del menú desplegable */

.menu_usuario {
    position: fixed;
    right: 0.5%;
    top: 10.5%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/* Estilo para los enlaces dentro del menú */
.menu_usuario a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_usuario a:hover {
    background-color: #f6f6ae;
}

.menu_admin {
    position: fixed;
    right: 8%;
    top: 10.5%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/* Estilo para los enlaces dentro del menú */
.menu_admin a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_admin a:hover {
    background-color: #f6f6ae;
}

/* #endregion */

/* #region GENERAL */

.contenido_principal {

    margin-top: 80px;
    margin-bottom: 150px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    font-size: 1,3em;
}

p {
    color: #666;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
}

input, textarea {
    width: 100%;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 1em;
}

textarea {
    height: 100px;
    resize: none;
}

.send-button {
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

#previewImage{
    max-width: 200px;
}


/* #endregion */

/* #region INGREDIENTES */
/* Contenedor de ingredientes y pasos */
#ingredientContainer, #stepsContainer, #tagsContainer {
    background: #eef2f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Centrando los botones de ingredientes */
.ingredientes-container {
    text-align: center;
}

/* Estilo de las cajas de ingredientes con cantidad magnitud... NECESARIO */
.ingrediente-item {
    display: grid;
    grid-template-columns: auto 1fr 2fr 1fr; /* Checkbox - Nombre - Cantidad - Magnitud */
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
}

.ingrediente-check {
    width: 20px;
    height: 20px;
}

.ingrediente-label {
    white-space: nowrap; /* Evita que el nombre del ingrediente se divida en varias líneas */
}

.ingrediente-cantidad {
    height: 35px; /* Mantiene altura uniforme */
    width: 100%; /* Se expande dentro del grid */
    padding: 5px;
    font-size: 16px;
}

.ingrediente-magnitud {
    height: 35px; /* Igual altura que el input de cantidad */
    width: 100%; /* Se expande dentro del grid */
    font-size: 16px;
    padding: 5px;
}

/* Ajusta el tamaño de la caja de texto para ingredientes NECESARIO */
#ingredientContainer {
    max-height: 400px; /* Ajusta según el tamaño deseado */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Opcional, solo para visualizar los límites */
    padding: 10px;
    background: #fff;
}
/* #endregion */

/* #region ETIQUETAS */

/* Estilo para las etiquetas de las recetas NECESARIO*/
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid blue;
    color: blue;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.tag:hover {
    background-color: blue;
    color: white;
}


.tag.selected {
    background-color: blue;
    color: white;
    font-weight: bold;
}
/* #endregion */

/* #region PIE */
.footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    width: 100%;
    height: auto;
    bottom: 0;
    position: fixed;
    z-index: 1000;
}

.container_footer {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_links {
    margin-bottom: 10px;
}

.footer_links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer_links a:hover {
    text-decoration: underline;
}

.footer_social {
    margin-bottom: 15px;
}

.footer_social a img {
    width: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer_social a img:hover {
    transform: scale(1.2);
}

.footer_copy p {
    font-size: 12px;
}

/* #endregion */

/* #region PRUEBAS DE ANTONIO */

/* Información para mostrar las recetas todo modificable */
.recetas-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas por fila */
    justify-content: center;
    max-width: 900px; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centrar el contenedor */
}

.receta-card {
    width: 200px;
    text-align: center;
}

.receta-imagen {
    width: 100%; /* Para que ocupe todo el ancho de la tarjeta */
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.receta-imagen:hover {
    transform: scale(1.05);
}

.receta-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}



/* Estilo del index */

.swiper-container {
    width: 80%;
    margin: auto;
    overflow: hidden; /* Oculta los elementos que no deben mostrarse */
}

.swiper-container-wrapper {
    position: relative;
    width: 70%;
    margin: 40px auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-controls {
    padding-top: 20px;
}


/* Estilo mostrar receta */
.receta-detalle {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.receta-imagen-detalle {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

.step-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.step-item textarea {
    width: auto;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
}



/* #endregion */

/* #region PRUEBAS DE JOSE - BUSCAR */

.contenedor_buscar {
    display: flex;
    gap: 20px;
}

.sidebar_buscar {
    width: 25vh;
    background: #f6f6ae;
    padding: 25px;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    min-height: 100vh;
    position: fixed;
    margin-top: -2vh;
    border-right: 3px solid #ddd;
}

/* Estilos generales */
.sidebar_buscar h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #444;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.sidebar_buscar label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

/* Inputs de texto y selects */
.sidebar_buscar input[type="text"],
.sidebar_buscar select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

/* Sliders */
.sidebar_buscar input[type="range"] {
    width: 100%;
    margin-top: 5px;
}

/* Valor numérico de los sliders */
.sidebar_buscar label span {
    font-weight: bold;
    color: #555;
}

/* Alineación de las estrellas */
.valoracion {
    display: flex;
    justify-content: center;  /* Centra las estrellas */
    gap: 5px;
    margin-top: 10px;
}

.estrella_buscar {
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s;
}

.estrella_buscar:hover, 
.estrella_buscar.seleccionada {
    color: gold;
}

/* #region No Implementado */

/* Alineación de los checkboxes con sus labels */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el checkbox y el texto */
    margin-top: 10px;
}

.checkbox-container label{
    position: relative;
    top: -0.75vh; /* Sube un poco el label */
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* #endregion */

/* Botón de búsqueda */
.sidebar_buscar button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background: #ff9800;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar_buscar button:hover {
    background: #e68900;
}


/* #endregion */