/*Estilo General de MarketChef*/

.contenido_plantilla{ 
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100vh;
}

/* #region CABECERA */
.plantilla_cabecera{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.container_infosearch{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.container_titulo{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.container_users{
    display: flex;
    flex-direction: row;
    gap: 20%;
}

.logo_cabecera img {
    height: 50px; /* Tamaño reducido */
    display: block;
}

.boton_ayuda_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}


.lupa_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}


.admin_desplegable_cabecera img {
    height: 30px;
    display: block;
}


.estrella_cabecera img{
    height: 30px; /* Tamaño reducido */
    display: block;
}


.carrito_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}

.usuario_desplegable_cabecera img {
    height: 31px; /* Tamaño reducido */
    display: block;
}


/* Estilos del menú desplegable */

.menu_usuario {
    position: fixed;
    right: 0.5%;
    top: 10.5%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/* Estilo para los enlaces dentro del menú */
.menu_usuario a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_usuario a:hover {
    background-color: #f6f6ae;
}

.menu_admin {
    position: fixed;
    left: 8%;
    top: 10.5%; /* Ajusta la distancia desde el icono */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none; /* Oculto por defecto */
    flex-direction: column;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    min-width: 150px;
    z-index: 100;
}

/* Estilo para los enlaces dentro del menú */
.menu_admin a {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu_admin a:hover {
    background-color: #f6f6ae;
}

/* #endregion */

/* #region GENERAL */

.contenido_principal {
    display: flex;
    flex-direction: column;
    flex:1;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    font-size: 1,3em;
}

p {
    color: #666;
}

.container {
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    width: 50%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    background: #f5f5f5;
    padding: 10px;
    text-align: left;
}

input, textarea, select {
    width: 100%;
    border: none;
    background: transparent;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1em;
}

textarea {
    height: 100px;
    resize: none;
}

.send-button {
    background: #fff;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
}

#previewImage{
    max-width: 200px;
}


/* #endregion */

/* #region INGREDIENTES */
/* Contenedor de ingredientes y pasos */
#ingredientContainer, #stepsContainer, #tagsContainer {
    background: #eef2f5;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

/* Centrando los botones de ingredientes */
.ingredientes-container {
    text-align: center;
}

/* Estilo de las cajas de ingredientes con cantidad magnitud... NECESARIO */
.ingrediente-item {
    display: grid;
    grid-template-columns: auto 1fr 2fr 1fr; /* Checkbox - Nombre - Cantidad - Magnitud */
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-bottom: 1px solid #ccc;
    background-color: #f8f9fa;
}

.ingrediente-check {
    width: 20px;
    height: 20px;
}

.ingrediente-label {
    white-space: nowrap; /* Evita que el nombre del ingrediente se divida en varias líneas */
}

.ingrediente-cantidad {
    height: 35px; /* Mantiene altura uniforme */
    width: 100%; /* Se expande dentro del grid */
    padding: 5px;
    font-size: 16px;
}

.ingrediente-magnitud {
    height: 35px; /* Igual altura que el input de cantidad */
    width: 100%; /* Se expande dentro del grid */
    font-size: 16px;
    padding: 5px;
}

/* Ajusta el tamaño de la caja de texto para ingredientes NECESARIO */
#ingredientContainer {
    max-height: 400px; /* Ajusta según el tamaño deseado */
    overflow-y: auto; /* Permite el desplazamiento vertical */
    border: 1px solid #ccc; /* Opcional, solo para visualizar los límites */
    padding: 10px;
    background: #fff;
}
/* #endregion */

/* #region ETIQUETAS */

/* Estilo para las etiquetas de las recetas NECESARIO*/
.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag {
    display: inline-block;
    padding: 8px 12px;
    border: 1px solid blue;
    color: blue;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

.tag:hover {
    background-color: blue;
    color: white;
}


.tag.selected {
    background-color: blue;
    color: white;
    font-weight: bold;
}
/* #endregion */

/* #region PIE */

.plantilla_pie{
    clear: both;
	color: white;
	text-align: center;
}
.footer {
    padding: 10px 0;
	background-color: #222;
    width: 100%;
}

.container_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_links{
    display: flex;
    flex-direction: row;
}

.footer_links a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.footer_links a:hover {
    text-decoration: underline;
}

/*Hemos quitado las redes sociales para minimizar el tamaño del pie de página*/
/* 
.footer_social {
    margin-bottom: 15px;
}

.footer_social a img {
    width: 24px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.footer_social a img:hover {
    transform: scale(1.2);
} */

.footer_copy p {
    font-size: 12px;
}

/* #endregion */

/* #region PRUEBAS DE ANTONIO */

/* Información para mostrar las recetas todo modificable */
.recetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

.receta-card {
    width: 200px;
    text-align: center;
}

.receta-imagen {
    width: 100%; /* Para que ocupe todo el ancho de la tarjeta */
    height: 150px; /* Altura fija para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen sin deformarla */
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.receta-imagen:hover {
    transform: scale(1.05);
}

.receta-titulo {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}



/* Estilo del index */

.swiper-container {
    width: 80%;
    margin: auto;
    overflow: hidden; /* Oculta los elementos que no deben mostrarse */
    flex-wrap: wrap;

}

.swiper-container-wrapper {
    position: relative;
    align-items: center;
    width: 90%;
    margin: auto;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-controls {
    padding-top: 20px;
}

.swiper-button-prev,
.swiper-button-next {
    width: 100%;
    cursor: pointer;
}

/* Estilo mostrar receta */
.receta-detalle {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.receta-imagen-detalle {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 20px auto;
    border-radius: 10px;
}

.step-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.step-item textarea {
    width: auto;
    min-height: 80px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
}



/* #endregion */

/* #region PRUEBAS DE JOSE - BUSCAR */

form#buscarFormulario {
    display: flex;
    flex-direction: row;
    width: 100%; 
    margin: 0 0;
    gap: 10px;
}

.sidebar_buscar {
    flex: 0 0 25vh;  /* No crece ni se encoge, tiene un ancho fijo */
    background: #f6f6ae;
    padding: 25px;
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column; /* Organiza su contenido en columna */
}

#resultados_buscar_div {
    flex: 1; /* Ocupa todo el espacio disponible */
    margin : 20px;
    flex: wrap;
}

/* Ocultar la barra de desplazamiento */
.sidebar_buscar::-webkit-scrollbar {
    display: none;
}

/* Estilos generales */
.sidebar_buscar h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #444;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.sidebar_buscar label {
    display: block;
    font-weight: bold;
    margin-top: 15px;
    color: #333;
}

/* Inputs de texto y selects */
.sidebar_buscar input[type="text"],
.sidebar_buscar select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #fff;
}

/* Sliders */
.sidebar_buscar input[type="range"] {
    width: 100%;
    margin-top: 5px;
    
}

/* Valor numérico de los sliders */
.sidebar_buscar label span {
    font-weight: bold;
    color: #555;
}

/* Alineación de las estrellas */
.valoracion {
    display: flex;
    justify-content: center;  /* Centra las estrellas */
    gap: 5px;
    margin-top: 10px;
}

.estrella_buscar {
    font-size: 22px;
    cursor: pointer;
    transition: color 0.3s;
}

.estrella_buscar:hover, 
.estrella_buscar.seleccionada {
    color: gold;
}

/* #region NO IMPLEMENTADO - SIGUIENTES ACTUALIZACIONES */

/* Alineación de los checkboxes con sus labels */
.checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; /* Espacio entre el checkbox y el texto */
    margin-top: 10px;
}

.checkbox-container label{
    position: relative;
    top: -0.75vh; /* Sube un poco el label */
}

.checkbox-container input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

/* #endregion */

/* Botón de búsqueda */
.sidebar_buscar button {
    width: 100%;
    padding: 10px;
    margin-top: auto;
    background: #ff9800;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.sidebar_buscar button:hover {
    background: #e68900;
}

.tags_container_buscar{
    background: #f6f6ae !important;
}


/* #endregion */


/* #region SOBRE NOSOTROS*/

    section{
        display: flex;
        flex-direction: row;
        align-items: stretch; /* Hace que los hijos tengan la misma altura */
        justify-content: center;
        margin: 0 auto;
        flex-wrap: wrap;
        overflow: hidden;
    }

    .sobre_nosotros_equipo, .sobre_nosotros_enlaces, .sobre_nosotros_imagen, .sobre_nosotros_info{
        flex: 1; /* Los hijos se expanden para ocupar el espacio disponible */
        display: flex;
        align-items: center; /* Centra el texto verticalmente */
        padding: 20px;
        justify-content: center;
    }

    .sobre_nosotros_equipo{
        background: rgb(192, 190, 190);
    }

    .sobre_nosotros_enlaces{
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        background: rgb(231, 229, 229);
        min-width: fit-content;
    }

    .sobre_nosotros_enlaces a{
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }   

    .sobre_nosotros_imagen{
        max-width: 20%;
        min-width: fit-content;
    }

    .sobre_nosotros_info{
        flex-direction: column;
        max-width: 30%;
    }
/* #endregion */