html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* El div ocupa al menos toda la pantalla */
.contenido_plantilla {
    min-height: 100vh; /* 100vh significa el 100% de la altura de la ventana */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    text-align: center;
    padding: 20px;
}