.boton-crear {
    display: inline-block;
    background-color: #ff5733; /* Color llamativo */
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s;
}

.boton-crear:hover {
    background-color: #ff2e00;
    transform: scale(1.1);
}

.crear-receta-container {
    text-align: center;
    margin: 20px 0;
}
